<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@color/white"
        android:roundIcon="@drawable/ic_errortoast"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kursovaya"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Courier_weather"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admMain"
            android:exported="false" />
        <activity
            android:name=".password"
            android:exported="false" />
        <activity
            android:name=".curMain"
            android:exported="false" />
        <activity
            android:name=".main"
            android:exported="false" />
        <activity
            android:name=".sign_up"
            android:exported="false" />
        <activity
            android:name=".STwoOTPVerif_Activity"
            android:exported="false" />
        <activity
            android:name=".STwoNewPass"
            android:exported="false" />
        <activity
            android:name=".STwoLogIn_Activity"
            android:exported="false" />
        <activity
            android:name=".STwoForgotPass_Activity"
            android:exported="false" />
        <activity
            android:name=".SOneThird_Activity"
            android:exported="false" />
        <activity
            android:name=".SOneSecond_Activity"
            android:exported="false" />
        <activity
            android:name=".SOneFirst_Activity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>